<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjxxt.hms.mapper.NurseMapper">
    <resultMap id="BaseResultMap" type="com.yjxxt.hms.bean.Nurse">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_pwd" property="userPwd" jdbcType="VARCHAR"/>
        <result column="true_name" property="trueName" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="is_valid" property="isValid" jdbcType="INTEGER"/>
        <result column="info" property="info" jdbcType="VARCHAR"/>
        <result column="admitted_date" property="admittedDate" jdbcType="TIMESTAMP"/>
        <result column="design_one" property="designOne" jdbcType="INTEGER"/>
        <result column="design_two" property="designTwo" jdbcType="INTEGER"/>
        <result column="Id_number" property="idNumber" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_name, user_pwd, true_name, email, phone, is_valid, info, admitted_date, 
    design_one, design_two, Id_number
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.yjxxt.hms.bean.Nurse">
    insert into t_user (id, user_name, user_pwd, 
      true_name, email, phone, 
      is_valid, info, admitted_date, 
      design_one, design_two, Id_number
      )
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR}, 
      #{trueName,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{isValid,jdbcType=INTEGER}, #{info,jdbcType=VARCHAR}, #{admittedDate,jdbcType=TIMESTAMP}, 
      #{designOne,jdbcType=INTEGER}, #{designTwo,jdbcType=INTEGER}, #{idNumber,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.yjxxt.hms.bean.Nurse">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="userPwd != null">
                user_pwd,
            </if>
            <if test="trueName != null">
                true_name,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="isValid != null">
                is_valid,
            </if>
            <if test="info != null">
                info,
            </if>
            <if test="admittedDate != null">
                admitted_date,
            </if>
            <if test="designOne != null">
                design_one,
            </if>
            <if test="designTwo != null">
                design_two,
            </if>
            <if test="idNumber != null">
                Id_number,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPwd != null">
                #{userPwd,jdbcType=VARCHAR},
            </if>
            <if test="trueName != null">
                #{trueName,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="isValid != null">
                #{isValid,jdbcType=INTEGER},
            </if>
            <if test="info != null">
                #{info,jdbcType=VARCHAR},
            </if>
            <if test="admittedDate != null">
                #{admittedDate,jdbcType=TIMESTAMP},
            </if>
            <if test="designOne != null">
                #{designOne,jdbcType=INTEGER},
            </if>
            <if test="designTwo != null">
                #{designTwo,jdbcType=INTEGER},
            </if>
            <if test="idNumber != null">
                #{idNumber,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yjxxt.hms.bean.Nurse">
        update t_user
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPwd != null">
                user_pwd = #{userPwd,jdbcType=VARCHAR},
            </if>
            <if test="trueName != null">
                true_name = #{trueName,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="isValid != null">
                is_valid = #{isValid,jdbcType=INTEGER},
            </if>
            <if test="info != null">
                info = #{info,jdbcType=VARCHAR},
            </if>
            <if test="admittedDate != null">
                admitted_date = #{admittedDate,jdbcType=TIMESTAMP},
            </if>
            <if test="designOne != null">
                design_one = #{designOne,jdbcType=INTEGER},
            </if>
            <if test="designTwo != null">
                design_two = #{designTwo,jdbcType=INTEGER},
            </if>
            <if test="idNumber != null">
                Id_number = #{idNumber,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yjxxt.hms.bean.Nurse">
    update t_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_pwd = #{userPwd,jdbcType=VARCHAR},
      true_name = #{trueName,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      is_valid = #{isValid,jdbcType=INTEGER},
      info = #{info,jdbcType=VARCHAR},
      admitted_date = #{admittedDate,jdbcType=TIMESTAMP},
      design_one = #{designOne,jdbcType=INTEGER},
      design_two = #{designTwo,jdbcType=INTEGER},
      Id_number = #{idNumber,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <!--多条件查询-->
    <select id="selectByParams" parameterType="com.yjxxt.hms.query.NurseQuery" resultType="com.yjxxt.hms.bean.Nurse">
            select
            *
            from
            t_user u left join t_user_role ur on u.id = ur.user_id
            <where>
            u.is_valid=1 and ur.role_id=3
            <if test="userName != null and userName != ''">
                and u.user_name like concat('%',#{userName},'%')
            </if>
            <if test="idNumber != null and idNumber != ''">
                and u.Id_number = #{idNumber}
            </if>
        </where>
    </select>
    <!--根据ID查询-->
    <select id="selectById" resultType="com.yjxxt.hms.bean.Nurse">
        select *
        from t_user
        where id = #{id}
    </select>

    <select id="selectById2" resultType="com.yjxxt.hms.bean.Nurse">
        select id,user_name as pname
        from t_user
        where id = #{id}
    </select>
    <!--根据id查询-->
    <insert id="insertHasKey" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="nurse">
       insert into t_user
       <trim prefix="(" suffix=")" suffixOverrides=",">
           <if test="id != null">
               id,
           </if>
           <if test="userName != null">
               user_name,
           </if>
           <if test="userPwd != null">
               user_pwd,
           </if>
           <if test="trueName != null">
               true_name,
           </if>
           <if test="email != null">
               email,
           </if>
           <if test="phone != null">
               phone,
           </if>
           <if test="isValid != null">
               is_valid,
           </if>
           <if test="info != null">
               info,
           </if>
           <if test="admittedDate != null">
               admitted_date,
           </if>
           <if test="designOne != null">
               design_one,
           </if>
           <if test="designTwo != null">
               design_two,
           </if>
           <if test="idNumber != null">
               Id_number,
           </if>
       </trim>
       <trim prefix="values (" suffix=")" suffixOverrides=",">
           <if test="id != null">
               #{id,jdbcType=INTEGER},
           </if>
           <if test="userName != null">
               #{userName,jdbcType=VARCHAR},
           </if>
           <if test="userPwd != null">
               #{userPwd,jdbcType=VARCHAR},
           </if>
           <if test="trueName != null">
               #{trueName,jdbcType=VARCHAR},
           </if>
           <if test="email != null">
               #{email,jdbcType=VARCHAR},
           </if>
           <if test="phone != null">
               #{phone,jdbcType=VARCHAR},
           </if>
           <if test="isValid != null">
               #{isValid,jdbcType=INTEGER},
           </if>
           <if test="info != null">
               #{info,jdbcType=VARCHAR},
           </if>
           <if test="admittedDate != null">
               #{admittedDate,jdbcType=TIMESTAMP},
           </if>
           <if test="designOne != null">
               #{designOne,jdbcType=INTEGER},
           </if>
           <if test="designTwo != null">
               #{designTwo,jdbcType=INTEGER},
           </if>
           <if test="idNumber != null">
               #{idNumber,jdbcType=VARCHAR},
           </if>
       </trim>
   </insert>
    <!--删除-->
    <update id="deleteBatch">
         update
         t_user
         set
         is_valid = 0
         where
         id
         in
         <foreach collection="array" item="id" open="(" close=")" separator=",">
             #{id}
         </foreach>
     </update>

   <select id="selectallpatient" resultType="map">
       select u.id,u.user_name  from t_user u left join t_user_role ur on u.id = ur.user_id  WHERE u.is_valid=1 and ur.role_id=4
   </select>

    <select id="selectIdNumber" resultType="com.yjxxt.hms.bean.Nurse">
        select *
        from t_user where Id_number = #{idNumber}
    </select>
</mapper>